body{
    font-family: cursive;
    margin: 0;
text-transform: capitalize;
}
body{ 
background-image: url(imagen/fondo.jpg);
}
a{
    text-decoration: none;
    color: black;
}

header{
    list-style: none;
    display: flex;
    min-height: 50px;
    background-color: rgb(36, 154, 232);
    justify-content:space-between;
    align-items: center;
    padding-right: 16px;
}

header .logo{
    font-weight: bold;
    font-size: 25px;
    color: rgb(12, 12, 12);
    font-style: initial;
    
}
.menu-horizontal{
    list-style: none;
   display: flex;
   
}
header .navbar ul li{
      position: relative;
      float: left;
}     
.menu-vertical{
    font-size: 10px;
    padding: 20px;
    color: rgb(15, 14, 14);
    display: block;
}
.menu-horizontal >li:hover{
background-color: rgb(226, 43, 159);
}
.menu-vertical >li:hover{
    background-color: blueviolet;
}
.menu-vertical{
    position: absolute;
    display: none;
    left: 0;
    width: 200px;
    background-color: rgb(10, 10, 9);  
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-horizontal ul li:focus-within > ul ,
.menu-horizontal ul li:hover > ul{
    display: initial;
}
