body{
    font-family: cursive;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    min-height: 70px;
    background-color: rgb(54, 167, 241);
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
    padding-right: 10px;
    
}

nav{
    max-width: 90px;
    margin: auto;
    font-size: 13px;
    margin-top: 20px;
}

li a:horver{
    color: white;
}

.menu-horizontal{
    list-style: none;
    display:flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 9px 10px;
    color: rgb(9, 8, 8); 
    text-decoration: none;  
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
     background-color: black;

}

.menu-vertical li:a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px    

}
